@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

#container{
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 1000px;
    height: 600px;
    margin: auto;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    font-family: sans-serif;
    
}

#containerBox{
    width: 800px;
    height: 300px;
    background-color: rgba(48, 35, 35, 0.5);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 20px;
    margin-top: 50px;
    
    
}

.box{
    width: 800px;
    height: 100px;
    align-items:center;
    
}

.box img{
    
    padding-top:-20px;
    
}


#box1{
    display: flex;
    justify-content: center;
    background-color:transparent;
    color: white;
    
}

#box2{
    
    display: flex;
    justify-content: center;
    width: 400px;

    background-color: rgba(226, 160, 99, 0.918);
    color: white;
    
}

#box3{
    display: flex;
    justify-content: center;
    width: 400px;

    background-color: rgba(123, 175, 88, 0.774);
    color: white;
}

#box4{
    display: flex;
    justify-content: center;
    width: 400px;

    background-color: rgba(212, 115, 85, 0.945);
    color: white;
    border-bottom-left-radius: 20px;
}

#box5{
    display: flex;
    justify-content: center;
    width: 400px;

    background-color: rgba(13, 112, 99, 0.918);
    color: white;
    border-bottom-right-radius: 20px;
}

#box6{
    display: flex;
    width: 800px;
    color: white;
}

.Button{
    color: white;
    
}

#box7{
    display: flex;
    justify-content: center;
    width: 800px;

    background-color: rgba(36, 109, 138, 0.938);
    color: white;
    border-radius: 20px;
    
}